html {
  font-size: 62.5%;
  box-sizing: border-box; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  background-color: #d6e2f0; }

.container {
  display: grid;
  grid-template-columns: 30rem;
  justify-content: center; }

body {
  font-family: "Outfit", san-serif;
  line-height: 1.2; }

.heading {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 700;
  color: #1f3251; }

.paragraph {
  font-size: 1.3rem;
  color: #7b879d; }

.card {
  margin: 20rem 0 10rem 0;
  padding: 1.8rem;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden; }
  @media only screen and (max-width: 30em) {
    .card {
      margin: 10rem auto; } }
  .card__img-box {
    margin-bottom: 2rem; }
  .card__img {
    display: block;
    width: 100%;
    border-radius: 15px; }
  .card__content {
    text-align: center;
    padding: 2rem; }
